body{ background-color: black;}

main {
    background-color: yellow;
    border-radius: 10px;
    position: relative;
    padding: 50px;

    height: 50vh;
    width: 50vw;
    color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 0;
    width: 100%;

    font-size: 40px;
    text-align: center;
}

#nome, #botao, #botao2 {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: black;
    font-size: 25px;

    background-color: rgb(255, 237, 72);
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}

#botao, #botao2{
    top: 60%; 
    font-weight: 500; 
    letter-spacing: 2px;
}
#botao2{
    margin-top: 80px;
}

#botao:hover, #botao2:hover{
    cursor: pointer;
    background-color: yellow;
}

#nome{
    background-color: rgb(255, 255, 103);
    color: black;
    top: 40%;
}
#nome::placeholder{color: rgba(0, 0, 0, 0.315);}

@media (max-width: 500px){
    h1{font-size: 30px;}
    #botao, #botao2{
        text-align: center;
        width: 220px;
        margin-top: 30px;
    }
    #botao2{
        margin-top: 100px;
    }
    #nome{
        width: 200px;
        margin-top: 15px;
    }
    #nome::placeholder{font-size: 18px;}
}

#popup{
    display: none;
    position: absolute;
    left: 0%;
    margin: 1em;

    height: 40%;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

    text-align: center;
    background-color: gold;
}
#popup p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 1em;
    display: block;
    align-items: first baseline;
    justify-content: center;
}